# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.svn/all-wcprops

.svn/all-wcprops

.svn/all-wcprops

.svn/entries

www/lib/.svn/entries

www/lib/ionic/.svn/entries

www/lib/ionic/css/.svn/entries

www/lib/ionic/fonts/.svn/entries

www/lib/ionic/js/.svn/entries

www/lib/ionic/js/angular-ui/.svn/entries

www/lib/ionic/js/angular/.svn/entries

www/lib/ionic/scss/.svn/entries

www/lib/ionic/scss/ionicons/.svn/entries

*.tmp

www/js/.svn/entries

*.svn-base

*.svn-base

www/js/.svn/all-wcprops

www/img/.svn/entries

*.svn-base

www/css/.svn/entries

hooks/.svn/entries

hooks/after_prepare/.svn/entries

scss/.svn/entries

www/.svn/all-wcprops

www/.svn/entries

*.svn-base

www/css/.svn/all-wcprops
