/* Empty. Add your own CSS if you like */
.row {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-content: stretch;
    -webkit-align-items: center;
    margin: 0 !important;
    padding: 0;
}

.col {
	text-align: center;
	padding: 25px 0px 15px 0px;
}

.icon {
	font-size: 80px;
}

.icon-title {
	font-size: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	background: gray;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.border {
	border-color: gray !important;
	border-style: solid !important;
/*	border: 1px;*/

}

.right-border {
	border-right: 3px;
}

.top-border {
	border-top: 3px;
}